@import 'light_mode.scss';
@import 'vars.scss';

._modes{
    font-size: 12px;
}
._mode:hover{
    cursor: pointer;
}

._data-type{
    height: 55px;
    border-radius: 40px;
    label{
        border-radius: 20px;
    }
}

textarea{
    min-height: 300px;
    border-radius: 10px;
}

#raport{
    display: $display;
}